/*-----------------------------------------------
* Styles for http://www.felipemendoza.com
------------------------------------------------*/



/** CSS Reset **/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** End Reset **/


body {
 background: #000000 url("../images/backdrop.jpg") no-repeat fixed top center;
}

a, a:active, a:visited {
 text-decoration: none;
 color: #4ecdc4;
}

a:hover {
 color: #4ecdc4;
}

#menu a.currentPage {
 color: #4ecdc4;
}

.pageWrap {
 width: 100%;
}

/** ---------- Nav Styles ---------- **/

div.nav {
 width: 100%;
 height: 50px;
 position: fixed;
 z-index: 11;
 top: 0%;
 left: 0%;
 background: transparent url("../images/menu.png") repeat-x top center;
}

#menu, #menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#menu {
  height: 40px;
  width: 854px;
  margin: 0 auto;
  border: 0;
  background-color: transparent;
}

a.navLogoPlace {
 display: block;
 text-indent: -9000px;
}

#menu:before,
#menu:after {
  content: "";
  display: table;
}

#menu:after {
  clear: both;
}

#menu {
 zoom:1;
}

#menu li {
  float: left;
  position: relative;
  width: 120px;
  text-align: center;
 border-left:1px solid #222222;
 border-right:1px solid #111111;
}

#menu a {
  line-height: 40px;
  padding: 0;
  font-size: 18px;
  color: #4ecdc4;
  font-family: 'Homenaje', sans-serif;
  text-shadow: 0px 2px 2px #000000;
  filter: dropshadow(color=#000000, offx=0, offy=2);
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  outline: 0;
}

#menu a:hover {
 color: #ffffff;
}

ul#menu li:nth-child(1) {
  border-left: 0;
}

ul#menu li:nth-child(8) {
  border-right: 0;
}

/** ---- Submenu Styles ---- **/

	#menu ul {
		margin: 10px 0 0 0;
		_margin: 0; /*IE6 only*/
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 38px;
		left: 0;
		z-index: 12;
		background: #444;
		background: -moz-linear-gradient(#444, #111);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#111));
		background: -webkit-linear-gradient(#444, #111);
		background: -o-linear-gradient(#444, #111);
		background: -ms-linear-gradient(#444, #111);
		background: linear-gradient(#444, #111);
		-moz-box-shadow: 0 -1px rgba(255,255,255,.3);
		-webkit-box-shadow: 0 -1px 0 rgba(255,255,255,.3);
		box-shadow: 0 -1px 0 rgba(255,255,255,.3);
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}

	#menu li:hover > ul {
		opacity: 1;
		visibility: visible;
		margin: 0;
	}

	#menu ul ul {
		top: 0;
		left: 150px;
		margin: 0 0 0 10px;
		_margin: 0; /*IE6 only*/
		-moz-box-shadow: -1px 0 0 rgba(255,255,255,.3);
		-webkit-box-shadow: -1px 0 0 rgba(255,255,255,.3);
		box-shadow: -1px 0 0 rgba(255,255,255,.3);
	}

	#menu ul li {
		float: none;
		display: block;
		border: 0;
		_line-height: 0; /*IE6 only*/
		-moz-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
		-webkit-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
		box-shadow: 0 1px 0 #111, 0 2px 0 #666;
	}

	#menu ul li:last-child {
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	#menu ul a {
		padding: 4px;
		_height: 10px; /*IE6 only*/
		display: block;
		white-space: nowrap;
		float: none;
		text-transform: none;
	}

	#menu ul a:hover {

	}

	#menu ul li:first-child > a {
		-moz-border-radius: 3px 3px 0 0;
		-webkit-border-radius: 3px 3px 0 0;
		border-radius: 3px 3px 0 0;
	}

	#menu ul li:first-child > a:after {
		content: '';
		position: absolute;
		left: 40px;
		top: -6px;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 6px solid #444;
	}

	#menu ul ul li:first-child a:after {
		left: -6px;
		top: 50%;
		margin-top: -6px;
		border-left: 0;
		border-bottom: 6px solid transparent;
		border-top: 6px solid transparent;
		border-right: 6px solid #3b3b3b;
	}

	#menu ul li:first-child a:hover:after {
		border-bottom-color: #4ecdc4;
	}

	#menu ul ul li:first-child a:hover:after {
		border-right-color: #0299d3;
		border-bottom-color: transparent;
	}

	#menu ul li:last-child > a {
		-moz-border-radius: 0 0 3px 3px;
		-webkit-border-radius: 0 0 3px 3px;
		border-radius: 0 0 3px 3px;
	}
	
/** ----------------------------------- **/

div.navLogo {
  position: fixed;
  display: block;
  z-index: 12;
  left: 50%;
  margin-left: -43px;
  top: 0px;
  border: 0;
  padding: 0;
  width: 85px;
  height: 76px;
  background: transparent url("../images/home.png") repeat top center;
}

.filthRace {
 width: 830px;
 height: 120px;
 margin: 25px auto 0 auto;
}

.filthyFacebook {
 width: 800px;
 height: 120px;
 display:block;
 text-indent: -9000px;
 margin: 0 auto;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
 background: transparent url("../images/racing.jpg") no-repeat top center;
}

.filthyFacebook:hover {
 background: transparent url("../images/racing.jpg") no-repeat bottom center;
}

.filthyDollStrut {
 width: 800px;
 height: 120px;
 display:block;
 text-indent: -9000px;
 margin: 0 auto;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
 background: transparent url("../images/doll.jpg") no-repeat top center;
}

.filthyDollStrut:hover {
 background: transparent url("../images/doll.jpg") no-repeat bottom center;
}


.content {
 width: 830px;
 margin: 50px auto 0 auto;
 font-family: 'Bree Serif', serif;
 color: #e5e5e5;
 background: transparent url("../images/transbg.png") repeat top center;
}

.contentIntro {
 padding: 14px;
 font-size: 18px;
}

.contentGallery {
 padding: 14px;
 font-size: 18px;
 margin-top: 120px;
}

.contentPage {
 padding: 14px;
 font-size: 18px;
 margin-top: 120px;
 overflow: auto;
}

.contentPage .leftContent, .contentPage .rightBar {
  display: block;
  float: left;
}

.contentPage .leftContent {
  width: 80%;
}

.contentPage .rightBar {
  width: 16%;
  margin: 0 0 0 20px;
  
}

.contentPage .rightBar a {
  font-family: 'Homenaje', sans-serif;
  text-shadow: 0px 2px 2px #000000;
  filter: dropshadow(color=#000000, offx=0, offy=2);
  text-transform: uppercase;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.rightBar li {
  border-bottom: 1px solid #444444;
  border-top: 1px solid #111111;
}

.rightBar li a {
  line-height: 3em;
}

.rightBar ul li:nth-child(1) {
  border-top: 0;
}

.rightBar ul li:nth-child(5) {
  border-bottom: 0;
}

.contentItems {
 display: block;
 padding: 14px;
 overflow: hidden;
 clear: both;
 margin-top: 25px;
}

.itemsWrap {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.one-third {
 float: left;
 width: 236px;
 position: relative;
 margin: 0 20px;
 padding: 10px 0;
 text-align: center;
 background: transparent url("../images/transbg.png") repeat top center;
}

p {
 margin: 25px 0;
}

em, h2, h1, h3 {
 color: #4ecdc4;
}

h1 {
 font-size: 2em;
 font-family: 'Homenaje', sans-serif;
 margin-bottom: 40px;
}

.one-third h2 {
 font-size: 28px;
 text-decoration: none;
 font-family: 'Homenaje', sans-serif;
 margin-bottom: 15px;
}

.one-third a {
  width: 195px;
  height: 205px;
  display: block;
  text-indent: -9000px;
  margin: 0 auto;
  border: 2px solid #a2a2a2;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}

.viewMens {
 background: transparent url("../images/mensviewall.jpg") no-repeat top center;
}
.viewMens:hover {
 background: transparent url("../images/mensviewall.jpg") no-repeat bottom center;
}

.viewWomens {
 background: transparent url("../images/womensviewall.jpg") no-repeat top center;
}
.viewWomens:hover {
 background: transparent url("../images/womensviewall.jpg") no-repeat bottom center;
}

.view13 {
 background: transparent url("../images/13viewall.jpg") no-repeat top center;
}
.view13:hover {
 background: transparent url("../images/13viewall.jpg") no-repeat bottom center;
}

.divide {
  width: 801px;
  height: 43px;
  margin: 0 auto;
}

.below {
 -moz-transform: scaleY(-1);
 -o-transform: scaleY(-1);
 -webkit-transform: scaleY(-1);
 transform: scaleY(-1);
 filter: FlipV;
 -ms-filter: "FlipV";
 margin-top: 25px;
}

.viewTopSellers {
  margin: 0 auto;
  width: 788px;
  height: 55px;
  text-align: center;
  background: transparent url("../images/divets.png") no-repeat top center;
}


.mostPopular {
  line-height: 40px;
 -webkit-transition: all 200ms ease-in;
 transition: all 200ms ease-in;
 -moz-transition: all 200ms ease-in;
}


.highlight { color:#4ecdc4; }

/*============================*/
/*=== Custom Slider Styles ===*/
/*============================*/
#slider-wrapper {
    background:url("../images/slider.png") no-repeat;
    width:856px;
    height:283px;
    margin:100px auto 0 auto;
    padding-top:10px;
}

#slider {
	position:relative;
    width:830px;
    height:240px;
    margin-left:13px;
	background:url("../images/loading.gif") no-repeat 50% 50%;
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#slider a {
	border:0;
	display:block;
}

.nivo-controlNav {
	position:absolute;
	left:360px;
	bottom:-42px;
}
.nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url("../images/bullets.png") no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:0 -22px;
}

.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url("../images/arrows.png") no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}

.nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a { 
    color:#efe9d1;
    text-decoration:underline;
}
/*============================*/

.bottomLinks {
 background: transparent url("../images/transbg.png") repeat top center;
 width: 842px;
 margin: 25px auto 0 auto;
 padding: 8px;
 overflow: auto;
}

.bottomNav {
 height: 40px;
 margin: 0 auto;
 overflow: auto;
 display: block;
 clear: both;
}

.bottomNav li {
 display: block;
 float: left;
 width: 130px;
 text-align: center;
}

.bottomNav li a {
 line-height: 40px;
 padding: 0;
 font-size: 18px;
 display: block;
 -webkit-transition: all 200ms ease-in;
 -moz-transition: all 200ms ease-in;
 transition: all 200ms ease-in;
 outline: 0;
 text-decoration: none;
 font-family: 'Homenaje', sans-serif;
 color: #d4d4d4;
 border-left:1px solid #222222;
 border-right:1px solid #111111;
 text-shadow: 0px 2px 2px #000000;
 filter: dropshadow(color=#000000, offx=0, offy=2);  
}

.bottomNav li:nth-child(1) a {
 border-left: 0px;
}

.bottomNav li:nth-child(4) a {
 border-right: 0px;
}

.bottomNav li a:hover {
 color: #4ecdc4;
}

.footer {
 background: transparent url("../images/transbg.png") repeat top center;
 width: 880px;
 margin: 25px auto 0 auto;
 padding: 8px;
 font-family: 'Bree Serif', serif;
 color: #aaaaaa;
 font-size: 0.8em;
 overflow: auto;
}

.copyright {
  float: left;
}

.madeBy {
  float: right;
}

.madeBy a, .madeBy a:active, .madeBy a:visited {
 -webkit-transition: all 200ms ease-in;
 -moz-transition: all 200ms ease-in;
 transition: all 200ms ease-in;
 text-decoration: none;
 color: #d4d4d4;
}

.madeBy a:hover {
 color: #4ecdc4;
}

.socialIcons {
 background: transparent;
 width: 880px;
 margin: 0 auto 100px auto;
 padding: 8px;
 overflow: auto;
}

.social {
  float: right;
}

.social li {
  float: left;
  margin-left: 10px;
}

.social li a {
  position: relative;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.social li a:hover {
  top: -4px;
}

/*  Contact Form  */

#contactform ol {
  line-height:1.5em;
  color:#a0a0a0;
  font-size:0.75em;
  margin:0;
  padding:0;
  list-style-type:none;
  list-style-position:outside;
}

#contactform li {
  margin-bottom: 10px;
}

#contactform li label {
  margin:0;
  width:125px;
  display:block;
  float:left;
  padding:5px 10px 2px 0;
  clear:both;
}

.contact_field {
  width: 300px;
}

#contactform .text_box {
  width: 300px;
  height: 200px;
}

.contact_field, #contactform #message, .text_box {
  background: #101010;
  border:1px solid #707070;
  color:#a0a0a0;
  font-size:1.25em;
}

.contact_field_btn
{
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    background:#2d2d2d;
    background:-moz-linear-gradient(top, #2d2d2d, #171717);
    background:-webkit-gradient(linear, left top, left bottom, from(#2d2d2d), to(#171717));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#2d2d2d', EndColorStr='#171717')";
    border:1px solid #000000 !important;
    cursor: pointer;
    padding:11px 16px;
    font:bold 11px/14px Verdana, Tahomma, Geneva;
    text-shadow:rgba(0,0,0,0.2) 0 1px 0px; 
    color:#999999;
    -moz-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    -webkit-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    margin-left:12px;
    padding:7px 21px;
}

.contact_field_btn:hover,
.contact_field_btn:focus,
.contact_field_btn:active{
    background:#4ecdc46;
    background:-moz-linear-gradient(top, #4ecdc4, #3bbdb4);
    background:-webkit-gradient(linear, left top, left bottom, from(#4ecdc4), to(#3bbdb4));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#4ecdc4', EndColorStr='#4ecdc4')";
    color: #ffffff;
}
.contact_field_btn:active
{
    text-shadow:rgba(0,0,0,0.3) 0 -1px 0px; 
}

.filthy_list
{
    margin:25px 0 25px 50px;
    list-style:upper-roman;
    
}

.filthy_list li
{
    margin-top:10px;
    
}